# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=RPICOIN Core
Comment=RPICOIN Core QT test network
GenericName=RPICOIN Digital Currency QT client testnet network
Exec=rpicoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/rpicoin_testnet.png
MimeType=x-scheme-handler/rpi;
Categories=X-Office;X-Finance;
Keywords=internet;rpicoin;zrpi;trpi;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
