# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=RPICOIN Core
Comment=RPICOIN Core QT main network
GenericName=RPICOIN Digital Currency QT client main network
Exec=rpicoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/rpicoin.png
MimeType=x-scheme-handler/rpicoin;
Categories=X-Office;X-Finance;
Keywords=internet;rpicoin;zrpi;rpi;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
